.header {
    display: flex;
    padding: 1.875rem 1rem;
    justify-content: space-between;
    background-color: var(--clr-elements);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 5.62%);
}

.logo {
    font-size: 0.875rem;
    font-weight: 800;
    text-decoration: none;
}
