.countryListContainer {
    padding: 1.5rem 1rem;
}

.filters {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (width >= 64rem) {
    .countryListContainer {
        padding: 3rem 5rem;
    }
}
