.themeButton {
    font-weight: 600;
    font-size: 0.75rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    font-size: 1rem;
}

@media (width >= 64rem) {
    .themeButton {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.25rem;
    }
}
