*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    color: var(--clr-typography);
    background-color: var(--clr-background);
}

.light {
    --clr-typography: #111517;
    --clr-elements: #fff;
    --clr-background: #fafafa;
    --clr-input: #858585;
    --clr-input-placeholder: #c4c4c4;
}

.dark {
    --clr-typography: #fff;
    --clr-elements: #2B3844;
    --clr-background: #202C36;
    --clr-input: #fff;
    --clr-input-placeholder: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
  color: inherit;
}

button,
input {
    color: currentcolor;
    font-family: inherit;
}

button {
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    font: inherit;
}
